/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
    transition: transform 0.3s;
  }
  
  .sidebar.left {
    left: 0;
    transform: translateX(-100%);
  }
  
  .sidebar.right {
    right: 0;
    transform: translateX(100%);
  }
  
  /* Estilos adicionais para exibir a barra lateral podem ser adicionados com classes como .show, por exemplo */
  